<%- include("./partials/header") %>
    <%= user %>
        <h2>Hah! You thought there was a secret here</h2>

        <p>U mad bro?
        </p>
        <img style="width: 540px; height: 540px;" src="https://i.imgur.com/xn4cYl4.png" alt="You-mad-photo">

        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>

        <%- include("./partials/footer") %>